*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Operator Mono" !important;
  font-weight: normal !important;
}

main {
  min-height: 80vh;
}

.rating span {
  margin: 0.1rem;
}
